<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-header">
          Brand Name
      </li>
      <li class="link-divider">
          General
      </li>
      <li>
          <a href="javascript:void(0)" mytabclick="" data="tabs" key="Dashboard">
              <span class="glyphicon glyphicon-home white-icon">
              </span>
              Dashboard
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
      </li>
      <li>
          <a href="javascript:void(0);" class="collapsed">
              <span class="glyphicon glyphicon-folder-open white-icon">
              </span>
              Page Layouts
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
          <ul class="collapse">
              <li><a href="javascript:void(0);" mytabclick="" data="tabs" key="Header">Header</a></li>
              <li><a href="javascript:void(0);" mytabclick="" data="tabs" key="Footer">Footer</a></li>
          </ul>
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
              <span class="glyphicon glyphicon-calendar white-icon">
              </span>
              Form Stuff
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
      </li>
      <li class="link-divider">
          Elements
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                  <span class="glyphicon glyphicon-calendar white-icon">
                  </span>
                  UI Elements
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                    <span class="glyphicon glyphicon-calendar white-icon">
                    </span>
                    Charts
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </a>
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                        <span class="glyphicon glyphicon-calendar white-icon">
                        </span>
                        Structures
                        <i class="glyphicon glyphicon-chevron-right"></i>
                      </a>
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                            <span class="glyphicon glyphicon-calendar white-icon">
                            </span>
                            Widgets
                            <i class="glyphicon glyphicon-chevron-right"></i>
                          </a>
      </li>
      <li class="link-divider">
          Extra
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                                    <span class="glyphicon glyphicon-calendar white-icon">
                                    </span>
                                    Emails
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                  </a>
      </li>
      <li>
          <a href="javascript:void(0);" mytabclick="" data="tabs" key="Formstuff">
                                        <span class="glyphicon glyphicon-calendar white-icon">
                                        </span>
                                        Chat
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                      </a>
      </li>
  </ul>
  <!-- end sidebar -->
</div>